body {
    margin: 0px;
    padding: 0px
  }
  *,
  html {
    margin: 0px;
    padding: 0px;
    background-color: rgb(226, 181, 97);
    font-family: 'Poppins', sans-serif;
  }
  main {
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
  table {
    margin: 0px auto;
  }
  table td {
    text-align: center;
  }
  .forms {
    text-align: center;
  }
  .box {
    width: 400px;
    padding: 5px;
    border: 2px solid rgb(14, 117, 64);
    border-radius: 10px;
  }
  .btn {
    width: 100px;
    padding: 5px;
    border: 2px solid rgb(14, 117, 64);
    border-radius: 10px;
  }